html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  cursor: pointer;
  border-radius: 3px;
  padding: 0;
}

a {
  border-radius: 3px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto";
}

.header {
  background-color: #2B4074;
}
.header__inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 640px) {
  .header__inner {
    min-height: 100px;
  }
}
.container {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.logo__link {
  margin-left: 8px;
}

.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 1px;
  background-color: #fff;
  border: none;
  position: relative;
  border-radius: 3px;
}

@media (min-width: 640px) {
  .logo__link {
    margin-left: 14px;
  }
}
.head {
  background-image: url("../css/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}

.title {
  line-height: 28px;
  font-size: 24px;
  position: relative;
  padding-bottom: 28px;
}
.title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: #2B4074;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

@media (min-width: 640px) {
  head {
    min-height: 386px;
  }
}
.top-slider {
  background: rgba(33, 33, 33, 0.5);
}
.top-slider__item {
  color: white;
  text-align: center;
  min-height: 193px;
}
.top-slider__text {
  display: none;
}
.top-slider__btn {
  display: none;
}
.top-slider__title {
  line-height: 28px;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 36px 0 28px;
  position: relative;
  max-width: 243px;
  margin: 0 auto;
}
.top-slider__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 61px;
  height: 8px;
  background-color: #4A4A4A;
  margin: 0 auto;
}
.top-slider .slick-dots {
  display: flex;
  justify-content: center;
  bottom: 20px;
  left: 0;
  position: absolute;
  right: 0;
}
.top-slider .slick-dots button {
  font-size: 0;
  border-radius: 50%;
  padding: 0;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  background-color: #2B4074;
  border: none;
}
.top-slider .slick-dots .slick-active button {
  border: 1px solid #476E4D;
}

@media (min-width: 640px) {
  .top-slider__item {
    min-width: 386px;
  }
  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 15px;
    margin: 0 auto 30px;
    max-width: 520px;
  }
  .top-slider__btn {
    display: block;
    margin: 0 auto 113px;
    font-size: 18px;
    background-color: #2B4074;
    color: white;
    padding: 16px 45px;
    border: none;
  }
  .top-slider .slick-dots {
    bottom: 50px;
  }
  .top-slider .slick-arrow {
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 5;
  }
  .top-slider .slick-prev {
    background-color: #2B4074;
    top: calc(50% - 56px);
  }
  .top-slider .slick-next {
    background-color: #fff;
    bottom: calc(50% - 56px);
  }
}
@media (min-width: 768px) {
  .top-slider__item {
    min-height: 465;
  }
  .top-slider__title {
    padding: 87px 0 0;
  }
  .top-slider__title::after {
    display: none;
  }
  .top-slider__text {
    padding: 25px 0 32px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 400;
    max-width: 630px;
    margin: 0 auto;
    display: block;
  }
}
@media (min-width: 1024px) {
  .top-slider__item {
    min-height: 618px;
  }
  .top-slider__title {
    letter-spacing: 2px;
    line-height: 84px;
    font-size: 84px;
    max-width: 750px;
    padding-top: 101px;
  }
  .top-slider .slick-dots {
    bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .top-slider__item {
    min-height: 668px;
  }
  .top-slider__title {
    letter-spacing: 2px;
    line-height: 96px;
    font-size: 96px;
    max-width: 850px;
    padding-top: 107px;
  }
  .top-slider__text {
    font-size: 24px;
    line-height: 26px;
    max-width: 920px;
  }
  .top-slider .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .top-slider .slick-prev {
    top: calc(50% - 70px);
  }
  .top-slider .slick-next {
    bottom: calc(50% - 70px);
  }
  .top-slider .slick-dots button {
    background-color: #fff;
  }
}
.call {
  background-color: #2B4074;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}
.call__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.call__text {
  margin-bottom: 40px;
}
.call__btn {
  padding: 16px 15px;
  background: white;
  font-size: 18px;
  border: none;
  color: #2B4074;
}

@media (min-width: 768px) {
  .call {
    text-align: left;
  }
  .call__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .call__box {
    max-width: 427px;
  }
  .call__text {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .call__box {
    max-width: 695px;
  }
  .call__text {
    width: 500px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (min-width: 1440px) {
  .call {
    text-align: left;
    align-items: center;
  }
  .call__inner {
    display: flex;
    justify-content: space-between;
  }
  .call__box {
    max-width: 796px;
  }
  .call__text {
    font-size: 16px;
    line-height: 18px;
    width: 570px;
  }
}
.services {
  padding: 25px 0 40px;
  text-align: center;
}
.services__title {
  line-height: 28px;
  color: #2B4074;
  font-weight: 400;
  margin-bottom: 47px;
  font-size: 24px;
}
.services .title {
  line-height: 28px;
  color: #2B4074;
  font-weight: 400;
}
.services__hr {
  display: none;
}
.services__descr {
  line-height: 24px;
  font-size: 20px;
  color: #4A4A4A;
  margin-bottom: 21px;
}
.services__text {
  color: #797979;
  margin-bottom: 40px;
  line-height: 17px;
  font-size: 15px;
}
.services__item {
  min-height: 310px;
  border: 1px solid #F9F6E5;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services__item:last-child {
  border-bottom: 1px solid #F9F6E5;
}
.services__item:hover .services__item-text, .services__item:hover .services__item-link {
  display: block;
}
.services__item:hover .services__item-inner {
  border: 4px solid #2B4074;
  width: 246px;
  height: 277px;
  margin: 0 auto;
}
.services__item:hover .services__item-img {
  padding-top: 30px;
}
.services__item:hover .services__item-title {
  padding-top: 13px;
  text-align: center;
}
.services__item:hover .services__item-text {
  padding-top: 10px;
}
.services__item:hover .services__item-link {
  padding-top: 14px;
}
.services__item-title {
  line-height: 19px;
  letter-spacing: 2px;
  padding: 13px;
  font-size: 16px;
  color: #4A4A4A;
}
.services__item-text {
  display: none;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  width: 196px;
  margin: 0 auto;
  color: #9B9B9B;
}
.services__item-link {
  display: none;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2B4074;
  text-decoration: none;
}

@media (min-width: 640px) {
  .services {
    padding: 0;
  }
  .services__title {
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 12px;
  }
  .services .title {
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 12px;
  }
  .services__descr {
    font-weight: 400;
    font-size: 24px;
    margin: 0 auto;
    max-width: 559px;
    text-align: center;
    padding-bottom: 30px;
  }
  .services__title {
    margin-bottom: 0;
  }
  .services__hr {
    display: block;
    width: 100px;
    height: 8px;
    background: #2B4074;
    margin: 0 auto;
  }
  .services__text {
    padding-top: 30px;
    width: 559px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
  }
  .services__items {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .services .container {
    padding: 0;
  }
  .services__item {
    width: 50%;
  }
  .services__item:hover {
    width: 50%;
  }
  .services__item:hover .services__item-inner {
    width: 287px;
    height: 282px;
    border: 4px solid #2B4074;
  }
  .services .title::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .services__title {
    padding-top: 50px;
  }
  .services__descr {
    font-size: 24px;
    padding-top: 30px;
    line-height: 24px;
    text-align: left;
    max-width: 689px;
  }
  .services__descr::after {
    content: "";
    width: 100px;
    position: absolute;
    height: 8px;
    background-color: #2B4074;
    margin-top: 32px;
    display: flex;
    justify-content: flex-start;
  }
  .services__hr {
    display: none;
  }
  .services__text {
    width: 689px;
    text-align: left;
  }
  .services__item:hover {
    width: 50%;
  }
  .services__item:hover .services__item-inner {
    height: 288px;
    width: 331px;
  }
}
@media (min-width: 1024px) {
  .services__descr {
    line-height: 26px;
    padding-top: 61px;
    text-align: left;
    margin-left: 44px;
  }
  .services__descr::after {
    margin-top: 38px;
  }
  .services__text {
    margin-left: 44px;
    padding-top: 34px;
  }
  .services__item {
    width: 25%;
  }
  .services__item:hover {
    width: 25%;
  }
  .services__item:hover .services__item-inner {
    height: 255px;
    width: 222px;
  }
}
@media (min-width: 1440px) {
  .services .container {
    max-width: 1500px;
  }
  .services__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .services__items {
    padding-top: 0;
    width: 65%;
    margin: 0 auto;
  }
  .services__head {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 90px;
    float: left;
    margin-left: 62px;
  }
  .services__title {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .services__descr {
    width: 393px;
    margin-left: 0;
  }
  .services__text {
    width: 350px;
    margin: 35px 0;
    padding: 0;
  }
}
.project {
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}
.project .title {
  padding-top: 20px;
  font-weight: 400;
  font-size: 24px;
  color: white;
  text-align: center;
  line-height: 28px;
}
.project .title::after {
  background-color: #fff;
}
.project__body {
  height: 1384px;
}
.project__title {
  padding-top: 20px;
  font-weight: 400;
  font-size: 24px;
  color: white;
  text-align: center;
  line-height: 28px;
}
.project__items {
  padding-top: 21px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.project__text {
  color: #2B4074;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 20px 0 20px 0;
}
.project__container {
  position: relative;
  width: 100%;
}
.project__item-img {
  display: block;
  min-width: 280px;
  min-height: 250px;
  margin: 0 auto;
  border-radius: 3px;
}
.project__item-icon {
  display: flex;
  justify-items: center;
}
.project__item-search {
  padding-left: 6px;
}
.project__item-info {
  padding-right: 6px;
}
.project__item-text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
  color: #2B4074;
}
.project__overlay {
  position: absolute;
  top: 50%;
  bottom: 50%;
  margin: auto;
  left: 0;
  right: 0;
  width: 253.88px;
  height: 226.99px;
  opacity: 0;
  transition: 0.3s ease;
  background-color: white;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  border-radius: 3px;
}
.project .project__container:hover .project__overlay {
  opacity: 75%;
}
.project__item-icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

@media (min-width: 640px) {
  .project .title::after {
    width: 100px;
    height: 8px;
    margin-top: 20px;
  }
  .project__body {
    height: 2291px;
  }
  .project .title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
  }
  .project__title {
    font-weight: 400;
    font-size: 48px;
    padding-top: 40px;
    line-height: 56px;
  }
  .project__items {
    left: 0;
    right: 0;
  }
  .project__item-img {
    width: 518px;
    display: flex;
    justify-content: center;
    height: 460px;
  }
  .project__text {
    font-size: 20px;
    line-height: 23px;
  }
  .project__overlay {
    width: 469.68px;
    height: 417.66px;
  }
  .project__item-info {
    width: 37.86px;
    height: 37.16px;
    margin-right: 6px;
  }
  .project__item-search {
    width: 37.86px;
    height: 37.16px;
    margin-left: 6px;
  }
}
@media (min-width: 768px) {
  .project .title::after {
    margin-top: 24px;
  }
  .project__body {
    height: 1032px;
  }
  .project__title {
    padding-top: 80px;
  }
  .project__items {
    margin-top: 80px;
    width: 700px;
  }
  .project__item-img {
    width: 317.23px;
    height: 282.91px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .project__overlay {
    width: 287.64px;
    height: 256.86px;
  }
  .project__text {
    margin: 30px;
  }
}
@media (min-width: 1440px) {
  .project .container {
    max-width: 1440px;
  }
  .project__body {
    height: 668px;
  }
  .project__item-img {
    width: 268px;
    height: 239px;
  }
  .project__items {
    display: flex;
    justify-content: center;
    width: 1300px;
    flex-direction: row;
  }
  .project__overlay {
    width: 243px;
    height: 217px;
  }
  .project__item-info {
    margin-left: 6px;
  }
  .project__item-search {
    margin-right: 6px;
  }
}
.team {
  padding: 20px 0 40px;
  text-align: center;
}
.team__images {
  width: 281.08px;
  height: 243.88px;
  margin-bottom: 40px;
}
.team__title {
  color: #4A4A4A;
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 38px;
}
.team__text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #9B9B9B;
}
.team__btn {
  border: none;
  background-color: #2B4074;
  border-radius: 3px;
  padding: 21px 26px;
  color: white;
  font-size: 20px;
  margin-top: 84px;
  line-height: 18px;
}

@media (min-width: 640px) {
  .team {
    padding: 20px 0 56px;
    text-align: center;
  }
  .team .title::after {
    width: 88px;
  }
  .team__images {
    width: 520px;
    height: 478px;
    margin-bottom: 40px;
  }
  .team__title {
    color: #4A4A4A;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 38px;
  }
  .team .title {
    color: #4A4A4A;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 38px;
  }
  .team__text {
    margin: 0 auto;
  }
  .team__btn {
    border: none;
    background-color: #2B4074;
    border-radius: 3px;
    padding: 21px 26px;
    color: white;
    margin-top: 56px;
    font-weight: 500;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .team {
    padding: 4px 0 48px;
    text-align: left;
    display: flex;
    justify-content: center;
  }
  .team__inner {
    display: flex;
  }
  .team__images {
    width: 240px;
    height: 227px;
    margin-right: 34px;
  }
  .team .container {
    padding: 0 46px;
  }
  .team .title::after {
    margin: 0;
  }
  .team__text {
    width: 407px;
    font-size: 18px;
    line-height: 18px;
  }
  .team__btn {
    margin-top: 21px;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .team {
    padding: 4px 0 48px;
    text-align: left;
    display: flex;
    justify-content: center;
  }
  .team__inner {
    display: flex;
  }
  .team__images {
    width: 395px;
    height: 380px;
    margin-right: 60px;
  }
  .team .container {
    padding: 0 46px;
  }
  .team .title::after {
    margin: 0;
  }
  .team .title {
    padding-bottom: 15px;
  }
  .team__title {
    margin-bottom: 19px;
  }
  .team__text {
    width: 407px;
    line-height: 24px;
  }
  .team__btn {
    margin-top: 21px;
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .team {
    padding: 70px 0 80px;
    text-align: left;
    display: flex;
    justify-content: center;
    background-color: #fff;
  }
  .team__inner {
    display: flex;
  }
  .team__images {
    width: 470px;
    height: 430px;
    margin-right: 93px;
  }
  .team .container {
    padding: 0 46px;
  }
  .team .team__title {
    margin-bottom: 39px;
  }
  .team .title {
    padding-bottom: 30px;
  }
  .team__title {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
  }
  .team__text {
    width: 407px;
  }
  .team__btn {
    margin-top: 40px;
  }
}
@media (min-width: 320px) {
  .news {
    background: #F9F6E5;
  }
  .news .container {
    padding: 40px 0 50px 0;
  }
  .news__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #4A4A4A;
  }
  .news .title {
    padding-bottom: 20px;
  }
  .news__items {
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
  }
  .news__container {
    position: relative;
    width: 100%;
  }
  .news__img {
    display: block;
    width: 268px;
    border-radius: 3px;
    margin: 0 auto;
  }
  .news__text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    height: 40px;
    background-color: #fff;
    width: 268px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #4A4A4A;
  }
  .news__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: transparent;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transition: 0.5s;
  }
  .news__item:hover .news__container, .news__item:hover .news__overlay {
    opacity: 100%;
  }
  .news__item:hover .news__img, .news__item:hover .news__text {
    background-color: #2B4074;
    color: #fff;
    transition: 0.5s;
  }
  .news__item:hover .news__text {
    transform: translate(0, -65px);
    position: relative;
    left: 0;
    padding-left: 10px;
    right: 0;
  }
  .news__item:hover .news__img {
    border: 10px solid #2B4074;
    transition: 0.5s;
  }
  .news__icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    text-align: center;
  }
}
@media (min-width: 640px) {
  .news__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 38px;
  }
  .news .title {
    font-weight: 400;
    font-size: 48px;
    line-height: 38px;
  }
  .news .title::after {
    width: 100px;
    margin-top: 20px;
  }
  .news__items {
    margin: 0 auto;
    left: 0;
    padding-top: 60px;
    right: 0;
    -moz-column-count: 2;
         column-count: 2;
    width: 600px;
  }
  .news__item {
    display: inline-block;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .news .title {
    padding-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .news .container {
    padding: 65px 0 90px 0;
  }
  .news__items {
    -moz-column-count: 3;
         column-count: 3;
    padding-top: 80px;
    width: 850px;
  }
  .news__item:hover .news__img {
    margin-bottom: 0;
  }
  .news__item:hover .news__text {
    transform: translate(0, -65px);
  }
}
@media (min-width: 320px) {
  .marketing .slick-dots {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 0;
  }
  .marketing .slick-dots button {
    background-color: #2B4074;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
    margin-left: 10px;
  }
  .marketing .slick-dots .slick-active button {
    border: 1px solid #476E4D;
    background-color: transparent;
  }
  .marketing .container {
    padding: 60px 0 55px 0;
  }
  .marketing__img {
    left: 0;
    right: 0;
    display: flex;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .marketing__text {
    width: 275px;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #4A4A4A;
    padding-bottom: 20px;
  }
  .marketing__span {
    color: #2B4074;
    font-weight: 700;
  }
  .marketing__name {
    color: #4A4A4A;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 40px;
  }
}
@media (min-width: 640px) {
  .marketing .container {
    padding: 60px 0 60px 0;
  }
  .marketing__img {
    margin-bottom: 40px;
  }
  .marketing__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    padding-bottom: 40px;
    width: 600px;
  }
  .marketing__span {
    color: #2B4074;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .marketing__text {
    width: 687px;
  }
}
@media (min-width: 1024px) {
  .marketing .container {
    padding: 100px 0 100px 0;
  }
  .marketing__text {
    width: 900px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }
  .marketing__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .marketing .container {
    padding: 100px 0 100px 0;
  }
  .marketing__text {
    font-size: 36px;
    line-height: 42px;
    color: #4A4A4A;
    width: 1000px;
  }
  .marketing__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }
}
.Digi-group {
  position: relative;
  margin-top: 80px;
}
.Digi-group__body {
  border-radius: 3px;
  width: 230px;
  height: 70px;
  position: absolute;
  background: #2B4074;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}
.Digi-group__img {
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

.Social__body {
  background: #2B4074;
  margin-top: 110px;
  height: 900px;
}
.Social__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  width: 274px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}
.Social__items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 21px;
  margin: 0 auto;
  padding-top: 43px;
}
.Social__item-1 {
  width: 10px;
}
.Social .Social__item, .Social .Social__item-1 {
  margin-top: 16px;
}
.Social__elems {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  flex-direction: column;
}
.Social__elem-span {
  color: #F9F6E5;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}
.Social__elem {
  width: 177px;
  font-style: normal;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding-top: 24px;
  color: #FFFFFF;
}
.Social__elem-link {
  text-decoration: none;
  color: white;
}

@media (min-width: 640px) {
  .Social__body {
    height: 632px;
  }
  .Social__title {
    font-size: 24px;
    line-height: 26px;
    width: 547px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: left;
    padding-top: 89px;
  }
  .Social__items {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .Social__item:first-child {
    border-left: 0;
  }
  .Social__item {
    border: 1px solid #7EBF84;
    padding: 20px 60px;
    border-right: 0;
  }
  .Social__elems {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Social__elem-span {
    color: #F9F6E5;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: -50px;
    position: absolute;
  }
  .Social__elem {
    width: 177px;
    font-style: normal;
    margin: 0 auto;
    font-weight: 400;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    padding-top: 44px;
    color: #FFFFFF;
    margin-left: 70px;
  }
}
@media (min-width: 768px) {
  .Social__body {
    padding: 114px 0 56px 0;
    height: 632px;
  }
  .Social__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 2px;
    width: 690px;
    padding-top: 0;
  }
  .Social__elems {
    width: 500px;
    display: flex;
    justify-content: center;
  }
  .Social__elem-link {
    font-size: 16px;
    line-height: 20px;
  }
  .Social__item {
    padding: 20px 75px;
  }
}
@media (min-width: 1024px) {
  .Social__body {
    padding: 158px 0 127px 0;
  }
  .Social__item {
    padding: 20px 100px;
  }
  .Social__elems {
    width: 1000px;
    margin: 0 auto;
  }
  .Social__elem-span {
    margin-top: -60px;
  }
  .Social__elem-link {
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .Social__body {
    padding: 158px 0 127px 0;
  }
  .Social__item {
    padding: 20px 130px;
  }
  .Social__elems {
    width: 1000px;
    margin: 0 auto;
  }
  .Social__elem-span {
    margin-top: -65px;
  }
  .Social__elem {
    width: 130px;
  }
  .Social__elem-link {
    line-height: 12px;
    font-size: 12px;
    font-weight: 400;
  }
}
@media (min-width: 320px) {
  .Button__body {
    background-color: #F9F6E5;
    height: 142px;
  }
  .Button__link {
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 55px;
    letter-spacing: 2px;
    color: #4A4A4A;
  }
  .Button__link-1 {
    margin-top: -5px;
    letter-spacing: 2px;
    color: #4A4A4A;
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 640px) {
  .Button__body {
    background-color: #F9F6E5;
    height: 42px;
  }
  .Button__links {
    position: absolute;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 2px;
    color: #4A4A4A;
    position: relative;
  }
  .Button__link {
    display: flex;
    justify-content: flex-end;
    text-align: left;
    position: absolute;
    margin-top: -50px;
  }
  .Button__link-1 {
    display: none;
  }
  .Button__img {
    display: block;
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }
}/*# sourceMappingURL=style.css.map */